<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="index.css"
		<title></title>
	</head>

	<body> <center>
	  <div class="welcome">
	    <body style="background-color:powderblue;">
	    <h1 class="display-3" style="font-family: ;"> <font color= white><center>Welcome</center></font> </h1>

	  <form> <h3 class="enterName" style="font-family: ;"> <font color= white><center>Enter name:  <input type="text" name="userName" value="" id = "userName"> <br> </center></font></h3></form>
	    <p class="nameclass">
	        <a class="btn btn-info btn-lg" href="#" role="button" style="font-family: " id="nametransition">enter</a>
	      </p>

	    </body>
	  </div>

	  <div class="jumbotron">
	    <center>
	    	<p class="lead" bgcolor = grey>How are you feeling today?</p>
	    	<hr class="my-4">
	      <div> <center> <pre id="nameSpace"> </pre></center>
	      </div>
	    </center>

			<form  action="/upload" method="post" enctype="multipart/form-data">
				<p>Input a Audio File</p>
				<dl>
					<p>
						<input type="file" name="audio" accept="*/*">
					</p>
				</dl>
					<p>
						<input class="button" type="submit">
					</p>
			</form>


			<p id="lonelyclass">
	    	<a class="btn btn-info btn-lg" href="#" role="button" style="font-family: " id="lonely">Lonely :/</a>
	      <!-- class does the color of button -->
	    </p>
	  <div>
	       <pre id="numLonely"></pre>
	    </div>

	    <p class="happyclass">
	      <a class="btn btn-warning btn-lg" href="#" role="button" style="font-family: " id="happy">Happy :)</a>
	    </p>
	    <div>
	       <pre id="numHappy"></pre>
	    </div>
	  </div>


	  <div id="lonely-challenge">
	    <h2><font color= white><center>Sorry to hear that :( </center></font></h2>
	    <h4><center>On that note, I've got a challenge for you! Hopefully it helps!</center></h4>
	      <div> <center> <pre id="Output-lonely-challenge"> </pre>
	        </center>
	      </div>
	       <a class="btn btn-outline-info btn-lg" href="#" role="button" id="lonelyChallenges"><font color = black><center>Completed</center></font></a>

	    <div><center> Times Completed: <pre id="numLonelyCompleted"> </pre> </center>
	    </div>
	  </div>
	    <div id="happy-challenge">
	      <h2><font color= white><center>Glad to hear! Life's pretty great! </center></font></h2>
	      <h5><center> Think of 3 things you are grateful for today and write them down! </center></h5>
	<form> <center>
	Grateful #1: <input type="text" name="firstInput" value="" id = "firstGratitude"> <br>
	Grateful #2: <input type="text" name="secondInput" value="" id = "secondGratitude"> <br>
	Grateful #3: <input type="text" name="thirdInput" value ="" id = "thirdGratitude"> <br>
	  </center></form>
	    	<a class="btn btn-outline-warning btn-lg" href="#" role="button" id="happyChallenges"><font color = black><center>Completed</center></font></a>

	      <div> Times Completed: <pre id="numHappyCompleted"> 					</pre>
	      </div>
	  <!-- Form Code -->
	   </div>
		 <script src="index.js"></script>


	</body>

</html>
