<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href=".\css\index.css"
		<title></title>
	</head>

	<body>

		<div class="jumbotron">
	    <h1 class="display-4">Friends</h1>
	    <p class="lead">How are you feeling today?</p>
	    <hr class="my-4">

			<form  action="/upload" method="post" enctype="multipart/form-data">
				<p>Input a Audio File</p>
				<dl>
					<p>
						<input type="file" name="audio" accept="*/*">
					</p>
				</dl>
					<p>
						<input class="button" type="submit">
					</p>
			</form>


	    <p id="lonelyclass">
				<br>
	    	<a class="btn btn-info btn-lg" href="#" role="button" 		id="lonely">Lonely :/</a>
	      <!-- class does the color of button -->
	    </p>
	  <div>
	       <pre id="numLonely"></pre>
	    </div>

	    <p class="happyclass">
	      <a class="btn btn-warning btn-lg" href="#" role="button"  id="happy">Happy :)</a>
	    </p>
	    <div>
	       <pre id="numHappy"></pre>
	    </div>
	  </div>


	  <div id="lonely-challenge">
	    <h1> Conquer Loneliness </h1>
	      <div> <pre id="target-lonely-challege"> </pre>
	      </div>
	       <a class="btn btn-primary btn-lg" href="#" role="button" id="lonelyChallenges">Completed</a>

	    <div> Times Completed: <pre id="numLonelyCompleted"> </pre>
	    </div>
	  </div>
	    <div id="happy-challenge">
	      <h1> Stay Happy </h1>
	<form>
	Grateful #1: <input type="text" name="firstInput" value="" id = "firstGratitude"> <br>
	Grateful #2: <input type="text" name="secondInput" value="" id = "secondGratitude"> <br>
	Grateful #3: <input type="text" name="thirdInput" value ="" id = "thirdGratitude"> <br>
	</form>
	    	<a class="btn btn-primary btn-lg" href="#" role="button" id="happyChallenges">Completed</a>

	      <div> Times Completed: <pre id="numHappyCompleted"> </pre>
	      </div>
	  <!-- Form Code -->
	   </div>
		 <script src="./js/index.js"></script>


	</body>
</html>
